.contact-page {
    background-image: url("/src/Composants/images/homepage3.jpg");
    background-size: cover;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h4 {
    text-align: center;
}

.contact-form {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 40px;
    border-radius: 30px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-form h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-form .form-control {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 15px; 
    color: white;
    transition: background 0.3s, color 0.3s, transform 0.3s;
}

.contact-form .form-control:focus {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    color: white;
    transform: scale(1.02);
}

.contact-form .form-label {
    color: #ddd;
    font-weight: 600;
}

.contact-form .btn-primary {
    background: #1e90ff;
    border: none;
    border-radius: 30px; 
    font-size: 18px;
    padding: 10px 20px;
    transition: background 0.3s, transform 0.3s;
}

.contact-form .btn-primary:hover {
    background: #1c86ee;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .contact-page {
        padding: 20px;
        padding-top: 50px;
        padding-bottom: 80px;
    }

    .contact-form {
        padding: 30px; 
        margin: 0 10px;
        border-radius: 25px; 
    }

    .contact-form h2 {
        font-size: 1.5em;
    }

    .contact-form .form-control {
        font-size: 1em; 
        padding: 10px; 
    }

    .contact-form .btn-primary {
        font-size: 16px;
        padding: 12px 20px; 
    }
}

@media (max-width: 480px) {
    .contact-page {
        padding: 10px;
        padding-top: 50px;
        padding-bottom: 80px;
    }

    .contact-form {
        padding: 20px;
        margin: 0 5px;
        border-radius: 20px; 
    }

    .contact-form h2 {
        font-size: 1.2em;
    }

    .contact-form .form-control {
        font-size: 0.9em; 
        padding: 8px;
    }

    .contact-form .btn-primary {
        font-size: 14px;
        padding: 10px 15px; 
    }
}

